/* CSS reset
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* DEFAULT STYLES */
html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    margin: 3rem 0;
    font-family: 'Times New Roman', Arial;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2.8rem;
}

h6 {
    font-size: 2.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

.hidden {
    display: none !important;
}

#main {
    justify-content: center;
}
/* header/nav layout */
header {
    -ms-flex-direction: column;
    flex-direction: column;
    align-items:center;
}

#logo {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #acbbac;
    width: 30rem;
}

/* hamburger menu */
#menu-toggle {
    display: none;
    background: none;
    border: none;
}

.spacer {
    display: none;
}

.main-spacer {
    width: 20rem;
    margin-left: 2rem;
}

/* poem text box layout */
#textbox-container {
    justify-content: center;
}

/* layout for controls */
#controls-section:not('#instructions-container') {
    width: 20rem;
}

#controls-section {
    margin-right: 2rem;
}

/* FLEXBOX */
#controls-container, #search-area, #main, header, #textbox-container, #custom-text, #save-share {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

#controls-container {
    flex-direction: column;
    align-items:center;
    color: #DDECDD;
}

#search-area, #custom-text {
    flex-direction:column;
    align-items:center;
}

/* ADDITIONAL STYLING */

/* instructions */
#instructions-container {
    width: 30rem;
}

#instructions-title {
    display: flex;
    align-items:center;
}

#menu-toggle {
    /* align-self: flex-start; */
    margin: 0;
}

#instructions-title, #instructions-container p, #instructions-container li:not(:last-child) {
    margin-bottom:1rem;
}

.title {
    font-weight: bold;
}

#info {
    color: #523E5C;
    margin-right: 0.5rem;
}

#info:hover {
    color: #8e9b8e;
    cursor: pointer;
}

#instructions-container {
    background: #ACBBAC;
    color: #523E5C;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 15px;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#instructions-container ol {
    list-style-type:decimal;
    width: 90%;
}

/* poem styling */
#poem-textbox {
    border: 10px solid #2F2235;
    border-radius:3rem;
    min-width:40rem;
    min-height: 40rem;
    align-self:flex-start;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/* styling the words inside the textbox */
#poem {
    margin: 2rem;
    font-size: 2.2rem;
    color: #1E293B;
}

#poem p {
    margin-bottom: 0.5rem;
}

/* STYLING CONTROLS AREA */
#controls-section, button, #search-area, #custom-text, #custom {
    border-radius:15px;
}

#controls-container li {
    margin: 0.5rem 0;
}

/* buttons */
button, #search-area, #custom-text {
    padding: 1.5rem;
    font-size:2rem;
    border-radius: 15px;
    border:none;
    color:#D6DEE7;
    background:#523E5C;
}

button:hover {
    font-weight:900;
    color:#fff;
    cursor: pointer;
    background:#A6849D;
}

button {
    width: 20rem;
    min-height: 6rem;
}

#custom {
    width: 14rem;
    min-height: 10rem;
}

/* styling next arrow to submit custom text when its ready*/
.arrow {
    margin-top:1rem;
    cursor: pointer;
    background:#ACBBAC;
    padding:0.8rem;
    color: #2F2235;
    border-radius: 30%;
}

.arrow:hover {
    background:#DDECDD;
}

/* save and share buttons */
.save-share {
    background: #6A776A;
}

.save-share:hover {
    background: #ACBBAC;
    color: #2F2235;
}
/* search area and custom text styling */
#search-area, #custom-text {
    text-align:center;
}

#search, #custom {
    border:2px solid #523E5C;
    padding:1rem;
    margin-top:1rem;
    height:3rem;
}

#searchBar, #dropdown-container {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

select {
    width: 7rem;
    font-size: 1.6rem;
}

#dropdown-container {
    flex-flow: column;
    width: 15rem;
}

#search-area {
    width:22rem;
}

#search {
    border-radius: 0 15px 15px 0;
}

#searchType {
    border-radius: 15px 0 0 15px;
    border:2px solid #523E5C;
    border-right: none;
    margin-top:1rem;
    text-align: center;
}

/* styling hovered words */
.word.hovered {
    font-weight: 900;
    cursor: pointer;
}

.selected-word {
    border: 2px solid #523E5C;
    cursor: pointer;
}

/* style for blacked out words */
.blackedOut {
    background: black;
    color: black; 
}

.selected-during-blackout {
    background-color: #fff;
    padding: 0.2rem;
    border: none;
}

/* FOOTER */
#socials {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content:center;
    margin: 3rem 0 1rem 0;
}

#socials a {
    margin: 0 1rem;
    color: #8e9b8e;
}

#socials a:hover {
    color: #A6849D;
}

#copyright {
    text-align: center;
    font-size: 1.8rem;
}

#copyright a {
    text-decoration: none;
    color: #6b4d60;
}

#copyright a:hover {
    color: #8E6780;
    font-weight: 700;
}

/* media queries */
@media all and (max-width:950px) {
    #poem-textbox {
        min-width: 45dvw;
    }

    .main-spacer {
        display: none;
    }
}

@media all and (max-width: 650px) {
    #main {
        justify-content: space-around;
    }

    #poem-textbox {
        min-width: 50dvw;
    }
}

/* create hidden hamburger menu */
@media all and (max-width: 590px) {
    h1 {
        width: 40%;
    }
    
    #controls-section {
        display:none;
    }

    body {
        margin: 1rem;
    }

    #menu-container {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .spacer {
        display: block;
        width: 4rem;
    }
    
    #menu-toggle {
        display: block;
        background: #6a776a;
        cursor: pointer;
        text-align: center;
        padding: 0.5rem;
        color: #fff;
        width: 4rem;
        height: 4rem;
        border-radius: 10px;
    }

    #menu-toggle:hover {
        background: #8E6780;

    }

    #controls-section.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #acbbac;
        margin: 0 1rem 0 0;
        padding: 2rem;
    }

    /* make menu items smaller */
    #controls-container > li, button {
        width: 10rem;
        font-size: 1.6rem;
    }

    input {
        width: 4.5rem;
    }

    select {
        font-size: 1.2rem;
        width: 4.5rem;
    }

    #custom-text textarea {
        width: 9rem;
    }

    #poem-textbox {
        min-height: 70dvh;
        min-width: 70dvw;
    }

    #poem-textbox.open {
        min-width: 50dvw;
    }

    #main {
        justify-content: center;
    }
}

@media all and (max-width:415px) {
    #logo {
        width: 25rem;
    }
}

@media all and (max-width:360px) {
    #logo {
        width: 20rem;
    }
}