/* CSS reset
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* DEFAULT STYLES */
html {
    font-size: 62.5%;
}

.hidden {
    display: none;
}

body {
    font-size: 2rem;
    margin: 3rem 0;
    font-family: 'Times New Roman', Arial;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2.8rem;
}

h6 {
    font-size: 2.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

/* LAYOUT */
/* main section */
/* #main-container {
    justify-content: space-evenly;
} */

#main {
    justify-content: center;
}

/* header/nav layout */
header {
    -ms-flex-direction: column;
    flex-direction: column;
    /* border: 2px solid blue; */
}

/* poem text box layout */
#textbox-container {
    justify-content: center;
}

/* layout for controls */
#controls-section:not('#instructions-container') {
    width: 20rem;
}

#instructions-container {
    width: 30rem;
}

/* FLEXBOX */
#controls-container, #search-area, #main, header, #textbox-container, #custom-text, #save-share {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

#controls-container {
    flex-direction: column;
    align-items:center;
    color: #DDECDD;
}

#search-area, #custom-text {
    flex-direction:column;
    align-items:center;
}

/* ADDITIONAL STYLING */
h1 {
    color: #DDECDD;
    text-align:center;
    margin:0 auto 2rem auto;
    background: #2F2235;
    width: 40%;
    padding: 1rem;
    border-radius: 5px;
}

#poem-textbox {
    border: 10px solid #2F2235;
    border-radius:3rem;
    width:35dvw;
}

/* styling the words inside the textbox */
#poem {
    margin: 2rem;
    font-size: 2.2rem;
    color: #1E293B;
}

#poem p {
    margin-bottom: 0.5rem;
}

/* STYLING CONTROLS AREA */
#controls-section, button, #search-area, #custom-text, #custom {
    border-radius:15px;
}

#controls-container li {
    margin: 0.5rem 0;
}

/* instructions layout */
#instructions-container p {
    margin: 0.5rem 0 1rem 4.5rem;
    width: 25rem;
}

/* buttons */
button, #search-area, #custom-text {
    padding: 1.5rem;
    font-size:2rem;
    border-radius: 15px;
    border:none;
    color:#D6DEE7;
    background:#523E5C;
}

button:hover {
    font-weight:900;
    color:#fff;
    cursor: pointer;
    background:#A6849D;
}

button {
    width: 20rem;
    min-height: 6rem;
}

#custom {
    width: 14rem;
    min-height: 10rem;
}

/* styling next arrow to submit custom text when its ready*/
.arrow {
    margin-top:1rem;
    cursor: pointer;
    background:#ACBBAC;
    padding:0.8rem;
    color: #2F2235;
    border-radius: 30%;
}

.arrow:hover {
    background:#DDECDD;
}

/* save and share buttons */
.save-share {
    background: #1E293B;
}

/* search area and custom text styling */
#search-area, #custom-text {
    text-align:center;
}

#search, #custom {
    border:2px solid #523E5C;
    padding:1rem;
    margin-top:1rem;
    height:3rem;
}

#searchBar {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

#search-area {
    width:22rem;
}

#search {
    border-radius: 0 15px 15px 0;
}

#searchType {
    border-radius: 15px 0 0 15px;
    border:2px solid #523E5C;
    border-right: none;
    margin-top:1rem;
    text-align: center;
}

/* styling hovered words */
.word.hovered {
    font-weight: 900;
    cursor: pointer;
}

.selected-word {
    border: 2px solid #523E5C;
    cursor: pointer;
}

/* style for blacked out words */
.blackedOut {
    background: black;
    color: black; 
}

.selected-during-blackout {
    background-color: #fff;
    padding: 0.2rem;
    border: none;
}

/* FOOTER */
#socials {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content:center;
    /* border: 2px solid black; */
    margin: 3rem 0 1rem 0;
}

#socials a {
    margin: 0 1rem;
    color: #A6849D;
}

#socials a:hover {
    color: #ACBBAC;
}

#copyright {
    text-align: center;
    font-size: 1.6rem;
    color: #2F2235;
}

#copyright a {
    text-decoration: none;
}

#copyright a:hover {
    color: #8E6780;
}

/* media queries */
@media all and (max-width:950px) {
    #poem-textbox {
        width: 45dvw;
    }
}

@media all and (max-width: 730px) {

    #instructions-container {
        display:none;
    }

    #controls-container {
        margin-right: 2rem;
        flex: 1
    }

    #poem-textbox {
        width: 50dvw;
    }

}

@media all and (max-width:575px) {
    button {
        width: 11rem;
    }

    #search-area, #custom-text {
        width: 8rem;
    }

    #search, #custom-text > textarea {
        width: 8rem;
    }

    #poem-textbox {
        width: 65dvw;
    }

    #main {
        justify-content: space-around;
    }

    #controls-section, #textbox-container {
        flex: 1;
    }
}